{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_bs/bootstrap.min.css' %}">
    <title>{% block title %} {% endblock %} </title>
</head>

<body>
    <!-- Barra de navegaciónn -->
    <nav class="navbar navbar-expand-lg w-100 border-bottom">
        <div class="container-fluid">
            <!-- Logo  -->
            <a class="navbar-brand" href="/">
                <img src="{% static 'imgs/logo.png' %}" style="height: 50px" />
            </a>
            <!-- Boton para abrir y cerrar barra de navegación  -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menú -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="w-100 navbar-nav mb-2 mb-lg-0 d-flex justify-content-end pe-lg-5">
                    <!-- Opción 1 -->
                    <li class="nav-item col-12 col-lg-2">
                        <a class="nav-link active text-black text-center" aria-current="page"
                            href="/habitaciones">Habitaciones</a>
                    </li>
                    <!-- Opción 2 -->
                    <li class="nav-item col-12 col-lg-2">
                        <a class="nav-link active text-black text-center" aria-current="page"
                            href="/registro">Registro</a>
                    </li>
                    <!-- Opción 3 -->
                    <li class="nav-item col-12 col-lg-2">
                        <a class="nav-link active text-black text-center" aria-current="page"
                            href="/inicioSesion">Inicio de
                            sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="py-5 mt-5 border-top">
        <p id="" class="text-center text-body-secondary">CHILE, VIÑA DEL MAR | FONO:912345678 | EMAIL:
            CONTACTO@HOTELPACIFICREEF.CL</p>
        <p id="" class="text-center text-body-secondary">COPYRIGHT 2024 HOTEL PACIFIC REEF</p>
    </footer>

    <script src="{% static 'js_bs/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
</body>

</html>