{% extends 'base.html' %}

{% block title %} Datos personales {% endblock %}

{% block content %}
<div className="container-fluid">

    <div class="row col-9 m-auto d-flex flex-column pt-5">
        {% for hab in habitaciones %}
        <a class="col-6 m-auto d-flex border px-4 py-2 mb-1 rounded" style="text-decoration: none; color: black;"
            href="{% url 'habitacion' hab.cod_habitacion %}">
            <p class="mb-0">Habitacion número {{ hab.cod_habitacion }}</p>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}