{% extends 'base.html' %}

{% block title %} Datos personales {% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row col-9 m-auto d-flex flex-column pt-5">
        <div class="col-6 m-auto d-flex flex-column border px-5 py-5 rounded">
            <h3 class="col-9 m-auto mb-3 text-center fw-bold">
                Habitación número {{ habitacion.cod_habitacion }}
            </h3>
            <p>
                Descripcion: {{ habitacion.descripcion_general }}
            </p>
            <p>
                Capacidad: {{ habitacion.capacidad }}
                {% if habitacion.capacidad > 1 %}
                personas.
                {% else %}
                persona.
                {% endif %}
            </p>
            <p>
                Piso: {{ habitacion.piso }}.
            </p>
            <p>
                Equipamiento: {{ habitacion.equipamiento }}.
            </p>
            <!-- <img src="{{ img_1.url }}">  -->
        </div>
    </div>

</div>
{% endblock %}